body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
p{
    padding-bottom: 10px;
}
.color-orange {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

.half-width img {
    width: 80%;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bottom-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.text-shadow {
    /* text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
    color: white;
    font: 1.5em Georgia, serif; */
    text-shadow: 2px 2px 5px red;
  }
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-items{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}  
#developer1{
    border-left: 8px solid orange;
}
#developer2{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
    margin-bottom: 5%;
}